RewriteEngine On

# Si la requête n'est pas un fichier ou dossier physique
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Alors on redirige vers index.php
RewriteRule ^ index.php [QSA,L]