{% extends "layouts/base.html.twig" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="text-3xl font-bold">{{ welcome_message }}</h1>
    <p class="text-lg mt-4">Découvrez mes derniers articles et projets.</p>

    <div class="mt-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <p>Corps de ma page</p>
    </div>
</div>
{% endblock %}
